/*Paramètres globaux de la page*/

ul, li, h1, h2, h3, h4, p, img {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    margin: 0 auto;
    background-color: #f6f6f6;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    background-color: white;
}

main {
    background-color: white;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    font-weight: 700;
    margin-top: 20px;
    width: 90%;
}

a {
    color: black;
    text-decoration: none;
}

/* Paramètres et animation du loader*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 15;
    background-color: #f5edff;
    pointer-events: none;
    opacity: 1;
    animation: displayfade 500ms 1.75s forwards;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear 5;
    animation: spin 2s linear 5;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #99E2D0;
    -webkit-animation: spin 3s linear 3;
    animation: spin 3s linear 3;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #AB65ED;
    -webkit-animation: spin 1.5s linear 2;
    animation: spin 1.5s linear 2;
}

/*Paramètres pour faire disparaitre le loader*/

.displayfade {
    animation: displayfade 2s;
    opacity: 0;
    z-index: -1;
}

/*Keyframes pour animer le loader*/

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        z-index: 15;
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
        z-index: 15;
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        z-index: 15;
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
        z-index: 15;
    }
}

@keyframes displayfade {
   100% {
    opacity: 0;
    z-index: -1;
    }
}

.dummy {
    display: none;
}

/*Paramètres du logo*/

#logo {
    position: relative;
    margin: 1rem 100px;
}

/*Paramètre bandeau de la localisation client*/

#localisation {
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    height: 50px;
    box-shadow: inset 0em 0.125em rgb(128 128 128 / 15%);
}

#localisation__ville {
    margin-top: 8px;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 30px;
}

#Position {
    max-width: 55px;
    width: 100%;
    font-size: 18px;
    height: 100%;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Recherche_Ville {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    max-width: 185px;
    background-color: #eaeaea;
    border: none;
}

/*Paramètres du descriptif du site*/

.descriptif {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    row-gap: 30px;
    background-color: #f6f6f6;
    height: 289px;
}

.info__descriptif {
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 75%;
}

/*Paramètres du bouton*/

.descriptif__input--button {
    width: 219px;
    height: 53px;
    color: white;
    background: #E16FDA;
    background: -webkit-linear-gradient(to bottom right, #E16FDA 0%, #E270DA 43%, #A55CDB 70%, #AB65ED 100%);
    background: -moz-linear-gradient(to bottom right, #E16FDA 0%, #E270DA 43%, #A55CDB 70%, #AB65ED 100%);
    background: linear-gradient(to bottom right, #E16FDA 0%, #E270DA 43%, #A55CDB 70%, #AB65ED 100%);
    border-radius: 25px;
    margin: 20px auto 30px auto;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    border: transparent;
    box-shadow: 6px 6px 4px #e7e7e7;
    transition: box-shadow 0.3s, filter 0.3s;
    text-align: center;
    transform: scale(1);
}


.descriptif__input--button p {
    color: white;
    text-align: center;
    margin-top: 17px;
    font-weight: 500;
}

.descriptif__input--button:hover{
        filter: brightness(110%);
        box-shadow: 6px 6px 4px #333;
}

/* Paramètres des onglets de description*/

.Explications>h2 {
    margin-left: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-top: 50px;
}

.Explications {
    display: flex;
    flex-direction: column;
    gap: 22px;
    background-color: white;
    margin-bottom: 70px;
}

.Explications__options {
    display: flex;
    gap: 22px;
    flex-direction: row;
}

.Explications__options__choix {
    border-radius: 20px;
    min-height: 73px;
    margin-left: 25px;
    margin-right: 18px;
    background-color: #f6f6f6;
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    box-shadow: 6px 6px 4px #e7e7e7;
    cursor: pointer;
}

a.Explications__options__choix:hover {
    background-color: #f5edff;
}

.Explications__options i {
    color: #7e7e7e;
    font-size: 16px;
}

/*Paramètres de la bulle du chiffre*/

.bulle {
    position: relative;
    top: 0;
    left: -0.75rem;
    background-color: #9356dc;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Paramètres des restaurant ( global, titre et organisation des fiches*/

.restaurants {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-bottom: 60px;
    background-color: #f6f6f6;
}

.restaurants>h2 {
    margin-left: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 30px;
}

.restaurants__ContainerFlex {
    column-gap: 25px;
    display: flex;
}

.restaurants__ContainerFlex__Resto {
    background-color: white;
    border-radius: 25px;
    min-width: 250px;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 16px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: 50px;
    box-shadow: 6px 6px 4px #e7e7e7;
    box-sizing: border-box;
}

/*Paramètres Encadré New*/

.ContainerNew {
    z-index: 1;
    width: 100%;
    height: 175px;
    position: relative;
}

.New {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 6;
    background-color: #99E2D0;
    color: #058a69;
    width: 80px;
    height: 30px;
    border-radius: 3px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    pointer-events: unset;
    cursor: default;
}

/*Paramètres globaux des images*/

.pic_fit {
    object-fit: cover;
}

img {
    display: block;
}

/*Paramètres de la présentations des fiches resto*/

.class_top {
    width: 100%;
    height: 175px;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    cursor: pointer;
}

.class_bottom {
    width: 100%;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 77px;
    gap: 14px;
    box-sizing: border-box;
}

/*Paramètres de la définition des restaurant ( Nom et adresse )*/

.class_bold {
    font-weight: bold;
    font-size: 16px;
}

.FlexView {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    height: 100%;
    height: 78px;
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 10px;
}

/* Paramètres du coeur et de son animation de remplissage */

.Container_coeur {
    display: flex;
    flex-direction: row;
    position: relative;
}

.coeurplein, .coeurvide {
    font-size: 24px;
    font-weight: 100;
    position: absolute;
    top: -100px;
    right: 20px;
}

.coeurvide {
    padding-right: 1px;
    padding-top: 1px;
}

i.coeurplein {
    opacity: 0;
    z-index: 8;
}

i.coeurplein:hover {
    z-index: 8;
    animation: remplissage 0.3s linear forwards;
    opacity: 1;
}

/*Keyframes pour l'animation du remplissage du coeur*/

@keyframes remplissage {
    0% {
    opacity: .25;
    background: linear-gradient(to top, #E16FDA 0%, #E270DA 43%, #A55CDB 70%, #AB65ED 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 26px;
    }
    25% {
        opacity: .33;
        background: linear-gradient(to top, #E16FDA 0%, #E270DA 43%, #A55CDB 70%, #AB65ED 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-size: 26px;
    }
    50% {
        opacity: .50;
        background: linear-gradient(to top, #E16FDA 0%, #E270DA 43%, #A55CDB 70%, #AB65ED 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-size: 26px;
    }
    75% {
        opacity: .75;
        background: linear-gradient(to top, #E16FDA 0%, #E270DA 43%, #A55CDB 70%, #AB65ED 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-size: 26px;
    }
    100% {
        opacity: 1;
        background: linear-gradient(to top, #E16FDA 0%, #E270DA 43%, #A55CDB 70%, #AB65ED 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-size: 26px;
        margin-bottom: 5px;
    }
}

/* Paramètres propres du footer*/

.footer {
    display: flex;
    flex-direction: column;
    background-color: #353535;
    margin-top: 60px;
    color: white;
}

footer>h3 {
    margin-left: 15px;
    font-family: 'shrikhand', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 25px;
    margin-top: 25px;
}

.footer__bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 15px;
    margin-bottom: 35px;
}

footer a {
    color: white;
}

footer a :hover {
    color:#E16FDA;
}

.footer__bottom__row {
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.fa, .fas {
    font-weight: 900;
}

.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
}

.padding {
   padding-right: 7px;
}

/*Média queries pour les différentes tailles d'écran*/

@media screen and (min-width: 768px)
{
    .header__logo__ohmyfood
     {
     width: 70%;
     margin-left: auto;
     margin-right: auto;
     }
 }

 @media screen and (min-width: 768px)
 {
     .Explications__options {
         display: inline-flex;
         flex-direction: column;

     }
 }

 @media screen and (min-width: 768px)
{
    .restaurants__ContainerFlex
    {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    }
}

@media screen and (min-width: 767px)
{
.restaurants__ContainerFlex {
    gap: 20px;
    flex-direction: row;
    margin-top: 45px;
    flex-wrap: wrap;
    }
}

@media screen and (max-width: 767px)
{
    .Explications__options {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 767px)
{
    .restaurants__ContainerFlex
    {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    }
}

